
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}


.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.50rem;
    border-bottom: 0.25rem outset #FFD700;
    background-color: #F5F5DC;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title-logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}


@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.img-logo {
    width: 4.7rem;
    height: 4.7rem;
    animation: rotate 10s linear infinite;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
}

.nav-links li {
    cursor: pointer;
}


.nav-links li:hover {
    color: #FFD700;
}


.main-section {
    height: 80vh;
    background-image: url('https://media.gettyimages.com/id/1143548242/fr/photo/femme-faisant-des-g%C3%A2teaux-dans-la-fabrication-de-g%C3%A2teau.jpg?s=612x612&w=0&k=20&c=gEILOS2Hl_THia1jkH7IbQ9ox1938MGxaIoBeOMkVSg='); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.main-content {
    max-width: 37.5rem;
    margin: 0 auto;
}

.main-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-cta {
    display: inline-block;
    background-color: #FFD700;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.25rem;
}

.btn-cta:hover {
    background-color: #FFC400;
}

.about-section {
    padding: 4rem;
}

.about-section h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.25rem;
    line-height: 1.8;
}

.btn-more {
    display: inline-block;
    background-color: #FFD700;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.btn-more:hover {
    background-color: #FFC400;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}

